<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aican.aicanapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AicanApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".userdatabase.UserDatabase"
            android:exported="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".specificactivities.Export"
            android:screenOrientation="landscape" />
        <activity
            android:name=".dialogs.AuthenticateRoleDialog"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Dashboard.SettingActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name=".specificactivities.ConnectDeviceActivity" />
        <activity android:name=".Authentication.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".specificactivities.EcTdsCalibrateActivity" />
        <activity
            android:name=".specificactivities.PhCalibrateActivity"
            android:parentActivityName=".specificactivities.PhActivity" />
        <activity
            android:name=".specificactivities.PhActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".AddDevice.AddDeviceOption" />
        <activity android:name=".specificactivities.TemperatureActivity" />
        <activity
            android:name=".Dashboard.Dashboard"
            android:screenOrientation="landscape" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Authentication.SignUpActivity" />
        <activity android:name=".specificactivities.PumpCalibrateActivity" />
        <activity android:name=".specificactivities.PumpActivity" />
        <activity android:name=".AddDevice.ScanQrActivity" />

        <service android:name=".graph.ForegroundService" />
    </application>

</manifest>