<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aican.aicanapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AicanApp"
        tools:targetApi="m">
        <activity android:name=".specificactivities.ConnectDeviceActivity"></activity>
        <activity android:name=".Authentication.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".specificactivities.EcTdsCalibrateActivity" />
        <activity
            android:name=".specificactivities.PhCalibrateActivity"
            android:parentActivityName=".specificactivities.PhActivity" />
        <activity android:name=".specificactivities.PhActivity" />
        <activity android:name=".AddDevice.AddDeviceOption" />
        <activity android:name=".specificactivities.TemperatureActivity" />
        <activity android:name=".Dashboard.Dashboard" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Authentication.LoginActivity" />
        <activity android:name=".Authentication.SignUpActivity" />
        <activity android:name=".specificactivities.PumpCalibrateActivity" />
        <activity android:name=".specificactivities.PumpActivity" />
        <activity android:name=".AddDevice.ScanQrActivity" />
    </application>

</manifest>